body{
    background-color: #d8d8d8;
    color: #444;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    /* centrar página */
    width: 800px;
    margin: auto;

    text-align: justify;
}